## Import

In [1]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings

# Suppress future warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

## Exploring your data

### Read raw data from file

In [2]:
raw_df = pd.read_csv("../data/crawl/raw_data.csv")
raw_df.head()

,datetime,temp (K),feels_like,pressure,humidity,temp_min,temp_max,wind_speed,wind_deg,clouds_all,id_weather,main_weather,description_weather,icon_weather,rain_1h,wind_gust
0,1671037200,298.16,298.62,1011,73,298.16,298.16,3.09,60,20,801,Clouds,few clouds,02n,NaN,NaN
1,1671040800,298.16,298.62,1010,73,298.16,298.16,2.06,30,40,802,Clouds,scattered clouds,03n,NaN,NaN
2,1671044400,297.16,297.78,1010,83,297.16,297.16,1.54,20,40,802,Clouds,scattered clouds,03n,NaN,NaN
3,1671048000,296.16,296.81,1009,88,296.16,296.16,1.54,320,40,802,Clouds,scattered clouds,03n,NaN,NaN
4,1671051600,296.16,296.81,1009,88,296.16,296.16,1.03,320,40,802,Clouds,scattered clouds,03n,NaN,NaN

### Checking shape

Checking whenever the data is qualified or not

In [3]:
shape = raw_df.shape

In [4]:
print(f"Shape: {shape}")

if shape[0] > 1000:
    print(f"Data is qualified.")
else:
    print(f"Data isn't qualified")

Shape: (8712, 16)
Data is qualified.

### Dealing with duplicates

In [5]:
num_duplicated_rows = raw_df.duplicated(keep='first').sum()

In [6]:
if num_duplicated_rows == 0:
    print(f"No duplicated lines.")
else:
    ext = "lines" if num_duplicated_rows > 1 else "line"
    print(f"{num_duplicated_rows} duplicated {ext}. De-deduplicating the raw data.")

No duplicated lines.

In [7]:
# De-deduplicate
raw_df = raw_df.drop_duplicates(keep='first')
post_deduplication_count = raw_df.duplicated(keep='first').sum()
assert post_deduplication_count == 0, "Still have duplicated rows after de-duplication."

In [8]:
# Converting 'datetime' from Unix timestamp to readable datetime format
raw_df['datetime'] = pd.to_datetime(raw_df['datetime'], unit='s')



missing_values = raw_df.isnull().sum()

data_types = raw_df.dtypes

missing_values, data_types

(datetime                  0
 temp (K)                  0
 feels_like                0
 pressure                  0
 humidity                  0
 temp_min                  0
 temp_max                  0
 wind_speed                0
 wind_deg                  0
 clouds_all                0
 id_weather                0
 main_weather              0
 description_weather       0
 icon_weather              0
 rain_1h                7782
 wind_gust              8597
 dtype: int64,
 datetime               datetime64[ns]
 temp (K)                      float64
 feels_like                    float64
 pressure                        int64
 humidity                        int64
 temp_min                      float64
 temp_max                      float64
 wind_speed                    float64
 wind_deg                        int64
 clouds_all                      int64
 id_weather                      int64
 main_weather                   object
 description_weather            object
 icon_weather                   object
 rain_1h                       float64
 wind_gust                     float64
 dtype: object)

### Checking distribution

This step helps to understand the Data, detecting outliers, data cleaning and also Model Selection and Performance

For columns with numeric data types:
- Percentage (from 0 to 100) of missing values
- The min
- The lower quartile (phân vị 25)
- The median (phân vị 50)
- The upper quartile (phân vị 75)
- The max

For viewing, using `.round(1)`.

In [9]:
def numeric_column_info(df: pd.DataFrame) -> pd.DataFrame:
    numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns

    num_col_info = {}
    for col in numeric_columns:
        num_col_info[col] = [
            df[col].isnull().mean() * 100,  # Missing ratio
            df[col].min(),                  # Min
            df[col].quantile(0.25),         # Lower quartile
            df[col].median(),               # Median
            df[col].quantile(0.75),         # Upper quartile
            df[col].max()                   # Max
        ]

    # Creating the DataFrame
    num_col_info_df = pd.DataFrame(num_col_info, index=["missing_ratio", "min", "lower_quartile", "median", "upper_quartile", "max"])

    # Rounding values to 1 decimal place
    num_col_info_df = num_col_info_df.round(1)

    return num_col_info_df

In [10]:
num_col_info_df = numeric_column_info(raw_df)

num_col_info_df.head()

,temp (K),feels_like,pressure,humidity,temp_min,temp_max,wind_speed,wind_deg,clouds_all,id_weather,rain_1h,wind_gust
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89.3,98.7
min,292.2,292.4,1001.0,14.0,292.2,292.2,0.0,0.0,0.0,200.0,0.1,1.9
lower_quartile,299.2,299.3,1008.0,69.0,299.2,299.2,1.5,10.0,40.0,801.0,0.2,5.3
median,301.2,305.9,1010.0,84.0,301.2,301.2,2.6,160.0,40.0,802.0,0.8,9.8
upper_quartile,304.2,309.6,1011.0,94.0,304.2,304.2,4.1,250.0,75.0,802.0,2.3,12.9
max,311.2,317.2,1018.0,100.0,311.2,311.2,11.3,360.0,100.0,804.0,36.5,20.6

In [12]:
def drop_missing_features(df: pd.DataFrame, missing_lst=None, threshold: float = 75.0) -> pd.DataFrame:

    if (df is None) or (missing_lst is None) or (threshold is None):
        print(f"Invalid.")
        raise ValueError
    
    df_cp = df.copy()
    
    cols_to_trim = []
    
    for key, value in missing_lst.items():
        if float(value) > threshold:
            cols_to_trim.append(key)
            
    if len(cols_to_trim) > 0:
        df_cp = df_cp.drop(columns=cols_to_trim)
        print("Dropped column(s): " + " ".join(cols_to_trim))
    else:
        print("Have no column(s) to trim.")
        
    return df_cp

In [13]:
raw_df = drop_missing_features(raw_df, dict(num_col_info_df.iloc[0]))
# Drop columns with no dates
raw_df.dropna(subset=['datetime'], inplace=True)

Dropped column(s): rain_1h wind_gust

In [14]:
raw_df.head()

,datetime,temp (K),feels_like,pressure,humidity,temp_min,temp_max,wind_speed,wind_deg,clouds_all,id_weather,main_weather,description_weather,icon_weather
0,2022-12-14 17:00:00,298.16,298.62,1011,73,298.16,298.16,3.09,60,20,801,Clouds,few clouds,02n
1,2022-12-14 18:00:00,298.16,298.62,1010,73,298.16,298.16,2.06,30,40,802,Clouds,scattered clouds,03n
2,2022-12-14 19:00:00,297.16,297.78,1010,83,297.16,297.16,1.54,20,40,802,Clouds,scattered clouds,03n
3,2022-12-14 20:00:00,296.16,296.81,1009,88,296.16,296.16,1.54,320,40,802,Clouds,scattered clouds,03n
4,2022-12-14 21:00:00,296.16,296.81,1009,88,296.16,296.16,1.03,320,40,802,Clouds,scattered clouds,03n

In [15]:
num_col_info_df = numeric_column_info(raw_df)

num_col_info_df

,temp (K),feels_like,pressure,humidity,temp_min,temp_max,wind_speed,wind_deg,clouds_all,id_weather
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,292.2,292.4,1001.0,14.0,292.2,292.2,0.0,0.0,0.0,200.0
lower_quartile,299.2,299.3,1008.0,69.0,299.2,299.2,1.5,10.0,40.0,801.0
median,301.2,305.9,1010.0,84.0,301.2,301.2,2.6,160.0,40.0,802.0
upper_quartile,304.2,309.6,1011.0,94.0,304.2,304.2,4.1,250.0,75.0,802.0
max,311.2,317.2,1018.0,100.0,311.2,311.2,11.3,360.0,100.0,804.0

Skipping filling because there is no missing cells.

For columns with non-numeric data types:
- Percentage (from 0 to 100) of missing values
- Number of values (the values here are different values and we do not consider missing values)
- The percentage (from 0 to 100) of each value is sorted by decreasing percentage (we do not consider missing values, the ratio is the ratio compared to the number of non-missing values)

In [16]:
non_numeric_columns = raw_df.select_dtypes(exclude=['float64']).columns

cat_col_info = {}
for col in non_numeric_columns:
    missing_ratio = raw_df[col].isnull().mean() * 100

    num_values = raw_df[col].nunique()

    value_counts = raw_df[col].value_counts(normalize=True) * 100
    value_ratios = value_counts.to_dict()

    cat_col_info[col] = [missing_ratio, num_values, value_ratios]

cat_col_info_df = pd.DataFrame(cat_col_info, index=["missing_ratio", "num_values", "value_ratios"])

cat_col_info_df.loc['missing_ratio'] = cat_col_info_df.loc['missing_ratio'].apply(lambda x: round(x, 1) if isinstance(x, float) else x)

cat_col_info_df

,datetime,pressure,humidity,wind_deg,clouds_all,id_weather,main_weather,description_weather,icon_weather
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
num_values,8712,18,63,74,64,19,7,19,16
value_ratios,"{2022-12-14 17:00:00: 0.01147842056932966, 202...","{1010: 17.435720844811755, 1009: 17.3898071625...","{94: 18.721303948576676, 100: 14.8186409550045...","{0: 24.59825528007346, 250: 7.07070707070707, ...","{40: 47.176308539944905, 75: 26.54958677685950...","{802: 42.22910927456382, 803: 21.5220385674931...","{'Clouds': 85.2961432506887, 'Rain': 9.8025711...","{'scattered clouds': 42.22910927456382, 'broke...","{'03n': 22.55509641873278, '03d': 19.674012855..."

### Is the collected data reasonable?

This step is just to check if the data is ok to use.

Range and Value Checks for Numeric Columns
Example ranges:
Temperature in Kelvin (0K is absolute zero, upper limit is less defined but should be reasonable)
Atmospheric pressure in hPa (typical range: 300 to 1100)
Humidity in % (0 to 100)
Wind speed in m/s (no upper limit, but excessively high values may be suspect)
Wind degree (0 to 360)
Cloudiness in % (0 to 100)

In [17]:
temp_range_check = raw_df['temp (K)'].between(0, 350).all()
pressure_range_check = raw_df['pressure'].between(300, 1100).all()
humidity_range_check = raw_df['humidity'].between(0, 100).all()
wind_speed_range_check = raw_df['wind_speed'] >= 0
wind_deg_range_check = raw_df['wind_deg'].between(0, 360).all()
clouds_all_range_check = raw_df['clouds_all'].between(0, 100).all()

# Results
range_check_results = {
    'Temperature (0K-350K)': temp_range_check,
    'Pressure (300hPa-1100hPa)': pressure_range_check,
    'Humidity (0%-100%)': humidity_range_check,
    'Wind Speed (>=0 m/s)': wind_speed_range_check.all(),
    'Wind Degree (0°-360°)': wind_deg_range_check,
    'Cloudiness (0%-100%)': clouds_all_range_check
}

range_check_results

{'Temperature (0K-350K)': True,
 'Pressure (300hPa-1100hPa)': True,
 'Humidity (0%-100%)': True,
 'Wind Speed (>=0 m/s)': True,
 'Wind Degree (0°-360°)': True,
 'Cloudiness (0%-100%)': True}

### Saving

In [18]:
print(f"Total number of features: {raw_df.shape[1]}")
raw_df.dtypes

Total number of features: 14

datetime               datetime64[ns]
temp (K)                      float64
feels_like                    float64
pressure                        int64
humidity                        int64
temp_min                      float64
temp_max                      float64
wind_speed                    float64
wind_deg                        int64
clouds_all                      int64
id_weather                      int64
main_weather                   object
description_weather            object
icon_weather                   object
dtype: object

In [19]:
raw_df.to_csv("../data/processed/processed_data.csv", index=False)